<!DOCTYPE html>
<html>
  <head>
  <!--   <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://code.highcharts.com/themes/sand-signika.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
  <body>
    <%if(vmName==undefined)
        {%>
     <h2>Please select vm to show status<h2>  
      <a href="/statusH/">Hourly status</a> 
        <br>
        <%}

        else{%>

        <h2><%=vmName%></h2>
         <a href="/statusH/">Hourly status</a>
        <h3>Type:<%=type%></h3>
        
        <%}
        %>
        <div style="position:absolute; left:400px;top:50px">
            <button type="button" class="btn btn-primary" data-loading-text="back to main "  onClick="window.location='/allVMCpu'" style="position: absolute;margin-left:-100px;">All Vm Cpu Status</button>

             <button type="button" class="btn btn-primary" data-loading-text="back to main "  onClick="window.location='/allVMMem'" style="position: absolute;margin-left:50px;">All Vm Memory Status</button>
        
             <button type="button" class="btn btn-primary" data-loading-text="back to main "  onClick="window.location='/allVMNet'" style="position: absolute;margin-left:-100px;margin-top:50px;">All Vm Network Status</button>

            <button type="button" class="btn btn-primary" data-loading-text="back to main "  onClick="window.location='/allVMIr'" style="position: absolute;margin-left:80px;margin-top:50px;">All Vm IO read Status</button>
             <button type="button" class="btn btn-primary" data-loading-text="back to main "  onClick="window.location='/allVMIw'" style="position: absolute;margin-left:260px;margin-top:50px;">All Vm IO write Status</button>
            </div>

             <div style="position:absolute; left:1200px;top:50px">
            <button type="button" class="btn btn-primary" data-loading-text="back to main "  onClick="window.location='/allVhCpu'" style="position: absolute;margin-left:-100px;">All Vhost Cpu Status</button>

             <button type="button" class="btn btn-primary" data-loading-text="back to main "  onClick="window.location='/allVhMem'" style="position: absolute;margin-left:70px;">All Vhost Memory Status</button>
        
             <button type="button" class="btn btn-primary" data-loading-text="back to main "  onClick="window.location='/allVhNet'" style="position: absolute;margin-left:-100px;margin-top:50px;">All Vhost Network Status</button>

            <button type="button" class="btn btn-primary" data-loading-text="back to main "  onClick="window.location='/allVhIr'" style="position: absolute;margin-left:100px;margin-top:50px;">All Vhost IO read Status</button>
             <button type="button" class="btn btn-primary" data-loading-text="back to main "  onClick="window.location='/allVhIw'" style="position: absolute;margin-left:290px;margin-top:50px;">All Vhost IO write Status</button>
            </div>
            

        <div class="dropdown" >
            
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style :"position:absolute">
   Select VM to view
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <%  for(var i=0;i<vms.length;i++)
      {%>

  <li role="presentation"><a role="menuitem" tabindex="-1" href="/status?name=<%=vms[i]%>&type=VirtualMachine"><%=vms[i]%></a></li>
      
      <%}
    %>
  </ul>
</div>    
  <div class="dropdown"  style="
    position: absolute;
    top: 106px;
    left: 850px;
">
 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
   Select Vhost to view
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <%  for(var i=0;i<vhost.length;i++)
      {%>

  <li role="presentation"><a role="menuitem" tabindex="-1" href="/status?name=<%=vhost[i]%>&type=HostSystem"><%=vhost[i]%></a></li>
      
      <%}
    %>
  </ul>
</div>
    <script type="text/javascript">

  $(function () {
    $('#CPU_container').highcharts({
        chart: {
            zoomType: 'x'
        },
        title: {
            text: 'CPU Usage Chart'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' :
                    'Pinch the chart to zoom in'
        },
        xAxis: {
            type: 'datetime',
            minRange: 30*60*1000
        },
        yAxis: {
            title: {
                text: 'value(%) '
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                    stops: [
                       [0, Highcharts.getOptions().colors[1]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'CPU Usage',
            pointInterval: 5*1000,
            pointStart: Date.UTC(20014, 11,06,22,54,0),
            data: [<%=cpu%>         
            ]
        }]
    });
});
</script>
<script type="text/javascript">
  $(function () {
    $('#mem_container').highcharts({
        chart: {
            zoomType: 'x'
        },
        title: {
            text: 'Memory Usage Chart'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' :
                    'Pinch the chart to zoom in'
        },
        xAxis: {
            type: 'datetime',
            minRange: 30*60 *1000
        },
        yAxis: {
            title: {
                text: 'percent (%)'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                    stops: [
                       [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'Memory Usage',
            pointInterval: 5*1000,
            pointStart: Date.UTC(20014, 11,06,22,54,0),
            data: [<%=mem%>         
            ]
        }]
    });
});
</script>
<script type="text/javascript">
  $(function () {
    $('#net_container').highcharts({
        chart: {
            zoomType: 'x'
        },
        title: {
            text: 'NetWork Usage Chart'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' :
                    'Pinch the chart to zoom in'
        },
        xAxis: {
            type: 'datetime',
            minRange: 30*60*1000 
        },
        yAxis: {
            title: {
                text: 'kiloBytesPerSecond '
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                    stops: [
                       [0, Highcharts.getOptions().colors[2]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'Memory Usage',
            pointInterval: 5*1000,
            pointStart: Date.UTC(20014, 11,06,22,54,0),
            data: [<%=net%>         
            ]
        }]
    });
});
</script>
<script type="text/javascript">
  $(function () {
    $('#io_read_container').highcharts({
        chart: {
            zoomType: 'x'
        },
        title: {
            text: 'IO read Usage Chart'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' :
                    'Pinch the chart to zoom in'
        },
        xAxis: {
            type: 'datetime',
            minRange: 30*60*1000 
        },
        yAxis: {
            title: {
                text: 'kiloBytesPerSecond'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                    stops: [
                       [0, Highcharts.getOptions().colors[2]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'IO read Usage',
            pointInterval: 5*1000,
            pointStart: Date.UTC(20014, 11,06,22,54,0),
            data: [<%=read%>         
            ]
        }]
    });
});
</script>
<script type="text/javascript">
  $(function () {
    $('#io_write_container').highcharts({
        chart: {
            zoomType: 'x'
        },
        title: {
            text: 'IO write Usage Chart'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' :
                    'Pinch the chart to zoom in'
        },
        xAxis: {
            type: 'datetime',
            minRange: 30*60*1000 
        },
        yAxis: {
            title: {
                text: 'kiloBytesPerSecond'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                    stops: [
                       [0, Highcharts.getOptions().colors[2]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'IO write Usage',
            pointInterval: 5*1000,
            pointStart: Date.UTC(20014, 11,06,22,54,0),
            data: [<%=write%>         
            ]
        }]
    });
});
</script>
</script>
		<div id="CPU_container" style="width: 800px; height: 200px" ></div>
        <br>
		<div id="mem_container" style="width: 800px; height: 200px" ></div>
        <br>
		<div id="net_container" style="position:absolute; left:850px;top:142px;width: 800px; height: 200px" ></div>
        <br>
        <div id="io_read_container" style="position:absolute; left:850px;top:362px;width: 800px; height: 200px" ></div>
        <br>
        <div id="io_write_container" style="position:absolute;top:582px;width: 800px; height: 200px" ></div>
  </body>
</html>